body {
    padding: 0;
    margin: 0;
}

.about-ul-li,
.social-ul-li,
.ul-li-header,
.link-social-header,
.social-header {
    text-decoration: none;
    list-style-type: none;
}

.li-social-header,
.link-header,
.ul-link,
.link-social-header {
    text-decoration: none;
    color: black;
}

.main-tagline {
    text-align: center;
    margin: 0;
    padding: 2%;
    background-color: rgb(217, 217, 217);
}

.main-heading {
    font-size: 18px;
    text-align: center;
}

.social-ul {
    display: flex;
}

.front-image {
    width: 100%;
}

.social-header {
    display: flex;
}

.link-social-header {
    padding: 0 5px;
}

.search-div {
    width: 200px;
    height: 30px;
    background-color: aqua;
    border-radius: 10px;
}

.serach-icon {
    text-align: right;
    padding: 5px;
}

.main-button-radio {
    display: flex;
    margin: 10px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-ul {
    text-align: center;
    padding: 0;
    /* background-color: rgba(0, 0, 0, .5); */
}

.dropdown {
    background-color: rgba(0, 0, 0, .8);
}

.ul-li-header {
    padding: 10px;
}

.link-header {
    color: white;
}

.link-menu-button {
    color: grey;
}

.menu-button-ul {
    list-style: none;
    padding: 0;
}

.social-header {
    border-top: 1px solid grey;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.link-social-header {
    color: white;
}

.first-section-para {
    font-size: 14px;
    margin: 10px 30px;
}


.search-input {
    border: none;
    background-color: white;
}

.search-button {
    border: none;
    background-color: white;
}

.first-section-para {
    text-align: center;
}

.sixth-section {
    padding: 5% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer-last-div {
    background-color: rgb(217, 217, 217);
}


/* ------------------ */

.social-div-header {
    display: none;
}

.header-menu {
    display: none;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    padding: 10px;
}


/* ------------------ */

.logo {
    width: 20%;
}

.image-4 {
    width: 100%;
}

.third-section {
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 40%;
    border-radius: 50%;
}

.profile-div {
    margin: 0;
    padding: 50px 0;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.desc-para {
    font-size: 12px;
    padding: 0 10px;
}

.author {
    display: block;
    font-weight: bold;
}

.fourth-section {
    margin: 5%;
}

.image-4 {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.link-4 {
    text-decoration: none;
    color: black;
}

.para-4-link {
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
    background-color: rgb(217, 217, 217);
}

.fifth-section {
    background-color: rgb(217, 217, 217);
}

.fifth-main-div {
    margin: 5% 5% 0 5%;
    padding: 20% 0;
    text-align: center;
}

.fifth-heading {
    margin: 0;
    padding: 7% 0;
}

.featured-profile-img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.footer-last-div {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.div-footer-search {
    grid-column: span 2;
}

.about-ul {
    padding: 0;
}

.user-ul {
    padding: 0;
}

.social-ul {
    padding: 0;
}

.footer-search-button {
    display: inline-block;
}

.footer-search-form {
    display: flex;
    flex-direction: column;
}

.div-footer-about {
    padding: 10% 0;
}

.div-footer-user {
    padding: 10% 0;
}

.div-footer-social {
    padding: 10% 0;
}

.div-footer-search {
    padding: 10% 0;
}

.feature-profile-div:last-child {
    display: none;
}

.social-ul-li {
    padding: 5px;
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
    margin: 2px;
}

.footer-search-input {
    border: none;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(238, 237, 237);
    padding: 10px;
}

.footer-search-button {
    margin: 10px 0;
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.heading-footer {
    font-weight: bold;
}

.last-div {
    background-color: rgb(267, 267, 267);
    margin: 0;
}

.ul-link {
    font-size: 14px;
}

.last-para {
    text-align: center;
    font-size: 12px;
    padding: 10px 2%;
    margin: 0;
}

@media screen and (min-width:1000px) {
    .header-menu {
        display: block;
    }
    .menu-button {
        display: none;
    }
    .main-navbar {
        display: flex;
    }
    .menu-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .footer-last-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .div-footer-search {
        grid-column: span 1;
    }
    .feature-profile-div:last-child {
        display: block;
    }
    .fifth-main-div {
        padding: 5% 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .fifth-heading {
        grid-column: span 3;
    }
    .section-4-div {
        display: flex;
    }
    .content-div {
        margin: 10px;
    }
    .section-4-div:nth-child(2) img {
        order: 2;
    }
    .dropdown {
        background-color: white;
    }
    .link-header {
        color: black;
        display: block;
    }
}


/* ------------------- Nanny Profile page start ---------------------- */


/* .similarNannies {
    display: none;
}

.iframe-map {
    width: 100%;
}

.nannyProfile-image {
    width: 30%;
}

.banner-image-div {
    background-color: rgb(206, 206, 206);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-user {
    text-align: center;
}

.userprofile-div {
    display: flex;
}

.user-profile {
    margin: 5%;
}

.userinfo {
    padding: 5%;
}

.head-p {
    font-weight: bold;
}

.button {
    border: none;
    padding: 10px;
    border-radius: 50px;
}

.button:nth-child(1) {
    background-color: rgb(206, 206, 206);
}

.prev,
.next {
    display: inline-block;
}

.prevNext {
    display: flex;
    justify-content: space-between;
}

.rateCalc {
    margin: 5%;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
}

.calcHead {
    text-align: center;
}

.form-calculation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


/* ------------------- Nanny Profile page end ---------------------- */