@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://use.typekit.net/nio8yxa.css");

html{
    line-height: 1.5;
}

h1{
    text-align: center;
    background-color: rgb(124, 124, 124);
    color: white;
    padding: 2rem 1rem;

}

.site-logo img{
    height: 140px;
    width: 140px;
    padding: 1rem;
}

img{
    width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    padding: 0;
    
}
ul li {
    display: block;
    text-align: right;
    font-size: 1rem;
    padding: 0.25rem 2rem;
}
ul li a{
    
    text-decoration: none;
}

.about-section p{
    font-size: 1.5rem;
}
.about-us-page header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.about-us-page header *{
    flex: 1 0 40%;
}

.about-us-page header h1{
    flex: 1 0 100%;
}

nav.header-menu {
    align-self: center;
}

main h2{
    color: #104B9E;
    font-size: 2rem;
    text-align: center;
    font-family: "Fredoka One";
}

main{
        font-family: new-atten;
}

/* ________________MAIN________________ */

main h2{
    text-align: center;
    
}

main> h2 + p{
    text-align: center;
}

.team-header {
    display: flex;
    flex-flow: row wrap;
    /* align-items:; */
    justify-content: space-around;
    grid-gap: 1rem;
}

article {
/* 
    display: block;
    max-width: 500px;
    margin: auto; */
    
}

.team-article article{
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.team-article img{
    margin: 1rem;
    width: 70%;
    border-radius: 15vh;
}

.team-article p {
    font-size: 1.5rem;
    /* text-align: center; */
}

/* ______________END MAIN______________ */

@media screen and (min-width: 700px ) {
    
    .team-article {
        flex:0 0 22%;
    }

    .team-article article *{
        flex:1 0 100%;
    }
    .about-section-wrapper{
        display: block;
        margin-left: auto;margin-right: auto;
        max-width: 1200px;
        padding: 1rem 3rem 1rem 3rem;
    }
    .about-section{
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        justify-content: space-between;
        
    }
    .about-section img{
        
        width: 442px;
        height: 403px;
        position: relative;
        box-sizing: border-box;
        width: 442px;
        height: 403px;
        top: 4;
        right: 4;
        border: 2px solid #FF1351;
    }
    .img-container{
        flex: 1 0 30%;
      
    }
    .about-section p{
        flex: 1 0 30%;
    }
}
