@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://use.typekit.net/nio8yxa.css");

body{
    line-height: 1.5;
}
.first-section{
    padding: 6rem;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/app/site-images/homepage-top.png');
    background-size: cover;
    opacity: 8.9;
    color: white;
}
.tt-search-box-input-container{
    border-radius: 20px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    padding: 0;
    margin: 0;
    line-height: 1;
    width: 25rem;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FF1351;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.tt-search-box{
    border-radius: 20px;
}

.tt-search-box-input-container div:nth-of-type(1) svg{
    background-color: #00ecae;
    margin: 0;
    height: 1.5rem;
    color: rgb(16, 16, 16);
    padding: 0.5rem 1.5rem 0.5rem .75rem;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    mix-blend-mode:exclusion;
}

.tt-search-box-input-container div:nth-of-type(1){
    place-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("img/background-image-homepage.png");
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(74, 73, 72, 0.5);
    /* Tint color */
    background-blend-mode: multiply;
}

.first-section-para {
    font-size: 14px;
    margin: 10px 30px;
    text-align: center;
    color: white;
}

.search-form {
    border-radius: 20px;
    padding: 0 0 0 10px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.search-input {
    border-radius: 20px;
    border: none;
    background-color: white;
}

.InputLabel {
    color: white;
}

.search-button {
    border-radius: 0 20px 20px 0;
    border: none;
    margin: 0;
    background-color: #FF6477;
    padding: 10px;
}

.main-button-radio {
    display: flex;
    margin: 10px;
}

.radio-button {
    margin: 10px;
}

.inputButton:checked {
    accent-color: #FF6477;
}

.icon-img {
    height: 100px;
    width: 100px;
}

.small-div-network {
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 75, 158, 10%);
    border-radius: 30px;
}

.small-div-date {
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 19, 81, 10%);
    border-radius: 30px;
}

.small-div-nanny {
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 19, 81, 10%);
    border-radius: 30px;
}

.small-div-mind {
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 75, 158, 10%);
    border-radius: 30px;
}

.main-container {
    text-align: center;
}

.second-section {
    padding: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.review-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #79C9AE;
}

.para-name {
    padding: 10px;
    color: black;
}

.review-img {
    height: 150px;
    width: 150px;
}

.review-name {
    color: whitesmoke;
}

.review-para {
    color: whitesmoke;
}

.dot {
    position: relative;
    top: -30px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.review-main {
    display: none;
}

.fourth-section {
    padding: 20px;
}

.heading-4 {
    margin-top: 10px;
    color: #104B9E;
}

.content-div {
    padding: 20px;
    margin-left: 10px;
}

.link-4 {
    padding: 10px;
    border-radius: 50px;
    background-color: #FF6477;
    color: white;
}

.para-4 {
    color: black;
}

.image-4 {
    width: 100%;
}

.fifth-section {
    /* padding: 20px; */
    background-color: rgba(255, 19, 81, 10%);
    width: 100%;
}

.fifth-heading {
    font-size: 20px;
    color: #104B9E;
    text-align: center;
    font-weight: bold;
    padding: 30px 30px 0 30px;
}

.para-4-link {
    margin-top: 40px;
}

.feature-profile-div {
    text-align: center;
}

.feature-profile-div:nth-child(2),
.feature-profile-div:nth-child(3) {
    display: none;
}

.featured-profile-img {
    /* border-radius: 50px; */
    width: 250px;
    height: auto;
}

.featured-para {
    margin: 0;
    padding-bottom: 10px;
    color: grey;
}

.sixth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("img/second-bag.png");
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(74, 73, 72, 0.5);
    /* Tint color */
    background-blend-mode: multiply;
}

@media screen and (min-width:900px) {
    .second-section {
        grid-template-columns: repeat(4, 1fr);
    }
    .dots {
        display: none;
    }
    .third-section-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .review-main {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .section-4-div {
        display: flex;
        align-items: center;
        padding: 40px;
    }
    .section-4-div:nth-child(2) .content-div {
        order: -1;
    }
    .image-4 {
        width: 50%;
    }
    .feature-profile-div:nth-child(2),
    .feature-profile-div:nth-child(3) {
        display: block;
    }
    .product-containerr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 10px;
    }
    .fifth-heading {
        padding: 30px;
    }
    .featured-profile-img {
        /* border-radius: 50px; */
        width: 250px;
        height: auto;
    }
    .content-div {
        padding: 0 30px;
        margin-left: 10px;
    }
    .second-section {
        padding: 30px 100px;
    }
}

.product {
    position: relative;
    overflow: hidden;
    /* padding: 20px; */
}

.product-container {
    background-color: #79C9AE;
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-items: center;
    align-items: center;
}

.product-containerr {
    /* background-color: rgba(255, 19, 81, 10%); */
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-items: center;
    align-items: center;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-imagee {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}
