@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://use.typekit.net/nio8yxa.css");

main {
    font-family: new-atten;
}

img {
    max-width: 100%;
    height: auto;
}

.top-img {
    background: url('site-images/nanny-profile-list-top.png');
    padding: 10rem;
    background-repeat: no-repeat;
    box-sizing: border-box;

}

.nanny-profile {
    border: 1px solid rgb(0, 0, 0, 10%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 180px;
    height: 280px;
    margin: auto;
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgba(16, 75, 158, .1);
    margin-bottom: 1rem;
}

.nanny-profile h3 {
    font-family: new-atten, sans-serif;
    text-transform: uppercase;
    margin: 12px;
}

.nanny-profile p {
    font-family: new-atten, sans-serif;
    text-transform: capitalize;
    margin: 10px;
}

.nanny-profile img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.more-info {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2rem;
    padding: 0.4rem 1.1rem;
    color: #104B9E;
    background-color: rgba(16, 75, 158, 0);
    border: 1px solid rgb(16, 75, 158);
    margin-top: .5rem;
}

.more-info:hover {
    color: white;
    background-color: rgb(16, 75, 158);
}

#map-div {
    width: 100%;
    height: 45rem;
}

.nanny-profile-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
}


.fa-star {
    color: grey;
}

.rating-active {
    color: gold;
}


ul.reviewsDisplay {
    padding: 0;
    margin: 0;

}

ul.reviewsDisplay>* {
    padding: 1rem;
    margin: 0;
    display: inline-block;
}

.reviewsDisplay li {
    padding: 0.20rem;
}


@media screen and (min-width: 900px) {
    .nanny-profile-list-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 700px;
        gap: 1rem;
        justify-content: center;
        padding: 2rem;

    }
}
