/* ________________MAIN________________ */

.job-details-main {
    padding: 1rem;
}

.job-details-main img {
    max-width: 100%;
    height: auto;
}

.job-details-main h2 {
    text-align: center;
}

.job-details-main h4 {
    margin: 0.25rem;
}

.job-post-details * {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.job-post-details *:nth-child(1) {
    flex: 0 0 20%;
}

.job-post-details *:nth-child(2) {
    flex: 1 0 50%;
}

.job-details-buttons button {
    border-radius: 40px;
    padding: 1rem 2rem;
    color: white;
    background-color: grey;
    margin-right: 2rem;
}

.navigation-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
}

.navigation-button button {
    border: none;
    background-color: white;
}

ul.schedule-display-list {
    display: block;
    list-style-type: none;
    padding: 0;
}

.schedule-display-list li {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
    background-color: rgba(224, 224, 224, 1);
    border-radius: 50%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.25rem;
}


/* ______________END MAIN______________ */

@media screen and (min-width: 700px) {
    /* ..........MAIN........ */
    .job-details-main {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 2rem;
    }
    .job-details-container {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    .job-details-main h2 {
        flex: 1 0 100%;
        /* justify-self: start; */
    }
    .job-details-main img {
        flex: 0 0 30%;
        width: 20%;
        height: auto;
    }
    .job-post-details {
        flex: 0 0 60%;
    }
    .description-display {
        flex: 1 0 100%;
    }
    /* .job-post-details * *{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
} */
    /* .job-post-details * *{
    flex: 1 0 30%;
} */
    /*..........END MAIN.......... */
}


/* My CSS ------- */

.parent-image>img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.main-container {
    border-radius: 10px;
    background-color: lightgrey;
    margin: 10px 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.parent-desc {
    margin: 5px;
    grid-column: span 2;
}

.for-section,
.avail-section,
.pay-section {
    display: flex;
}

.schedule-display {
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.schedule-display li {
    display: inline-block;
    padding: 0.5rem;
    margin: 1px;
    width: 7px;
    height: 7px;
    background-color: rgba(224, 224, 224, 1);
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width:1000px) {
    .very-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}