/* ________________MAIN________________ */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://use.typekit.net/nio8yxa.css");

img {
    max-width: 100%;
    height: auto;
}

main {
    font-family: new-atten;
}

h2 {
    text-align: center;
    font-family: 'Fredoka One';
    color: #104B9E;
}

.contact-info-details a {
    text-decoration: none;
}

ul.contact-info-details {
    list-style-type: none;
}

main {
    padding-bottom: 2rem;
}

.top-img img {
    object-fit: cover;
}

.job-details-main {
    padding: 1rem;
    font-size: 1.2rem;
}

.job-details-main img {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}

.job-details-main h2 {
    text-align: center;
}

.job-details-main h4 {
    margin: 0.25rem;
}

.job-post-details * {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* .job-post-details > *:nth-of-type(1){
    flex: 0 0 20%;
}

.job-post-details > *:nth-of-type(2) {
    flex: 1 0 50%;
} */

.fa-star {
    color: grey;
}

.rating-active {
    color: gold;
}

#ratingCountDisplay {
    padding: 0 1rem;
}

.reviews-display {
    display: flex;
    flex-flow: row nowrap;
}

ul#reviewsDisplay {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

ul#reviewsDisplay>* {
    padding: 1rem;
    margin: 0;

}

/* .ratings-button {
    display: none;
}

.ratings-button {
    border-radius: 20px;
    padding: 0.25rem;
    color: white;
    background-color: #FF435B;
    margin-right: 1rem;
    font-size: 21px;
} */

.ratings-button {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2rem;
    padding: 0.4rem 1.1rem;
    color: white;
    background-color: rgb(16, 75, 158);
    border: 1px solid rgb(16, 75, 158);
    margin-bottom: .5rem;
}

.ratings-button:hover {
    background-color: rgba(16, 75, 158, 0.78);
}

#cancelRatings {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2rem;
    padding: 0.4rem 1.1rem;
    color: rgb(16, 75, 158);
    background-color: white;
    border: 1px solid rgb(16, 75, 158);
    margin-bottom: .5rem;
}



.job-details-buttons button {
    border-radius: 40px;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #FF435B;
    margin-right: 2rem;
    font-size: 21px;
    border: 1px solid #FF435B;
}

.navigation-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
}

.navigation-button button {
    border: none;
    background-color: white;
}

ul.schedule-display-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
}

.schedule-display-list li {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
    background-color: rgba(224, 224, 224, 1);
    border-radius: 50%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.25rem;
}

.fa-phone,
.fa-envelope {
    color: #2CAB80;
    font-size: 1.2rem;
    padding-right: 6px;
}

.calculation {
    background-color: rgba(255, 255, 255);

}


.calculation-box {
    background-color: rgba(16, 75, 158, 0.1);
    padding: 2rem;
    border-radius: 20px;
}


.calculate {
    display: flex;
    flex-flow: column nowrap;
    max-width: 350px;
}

.calculate input[type=number] {
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
}

.calculate label {
    font-family: new-atten;
    color: rgb(16, 75, 158);
    font-weight: 600;
    margin-bottom: .2rem;
}

.calcBtn {
    background-color: rgb(16, 75, 158);
    color: white;
    border-radius: 20px;
    padding: 0.4rem;
    border: 1px solid rgb(16, 75, 158);
}

.calcBtn:hover {
    background-color: white;
    color: rgb(16, 75, 158);
}


.total-output ul {
    list-style-type: none;
}

.calculation h2 {
    font-family: "fredoka one";
    font-weight: 50;
    color: rgb(16, 75, 158);
}

.job-details-container {
    display: grid;
}


/* ______________END MAIN______________ */

@media screen and (min-width: 1000px) {


    /* ..........MAIN........ */
    .job-details-main {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 2rem;
    }

    .contact-info-details {
        background-color: rgba(16, 75, 158, 0.1);
        border-radius: 20px;
        margin: 2rem 0;

        padding: 1rem 30rem 1rem 1rem;
        font-size: 1.25rem;

    }

    .job-details-container {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .job-details-main h2 {
        flex: 1 0 100%;
        /* justify-self: start; */
    }

    .job-details-main img {
        flex: 0 0 30%;
        width: 20%;
        align-self: center;
    }

    .job-post-details {
        flex: 0 0 60%;
        align-self: center;
    }

    .description-display {
        flex: 1 0 100%;
    }

    ul.contact-info-details {}

    .job-details-container {
        grid-template-columns: 5fr 2fr;
    }
}