
/* ________________MAIN________________ */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://use.typekit.net/nio8yxa.css");


.job-details-main{
    padding: 1rem;
}
.job-details-main img{
    width: 235px;
    height: 235px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}

.job-details-main h2{
    text-align: center;
}

.job-details-main h4{
    margin: 0.25rem;
}

.job-post-details *{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* .job-post-details > *:nth-of-type(1){
    flex: 0 0 20%;
}

.job-post-details > *:nth-of-type(2) {
    flex: 1 0 50%;
} */

.fa-star{
    color: grey;
}

.rating-active{
    color: gold;
}


ul#reviewsDisplay {
    padding: 0;
    margin: 0;
}

ul#reviewsDisplay > * {
    padding: 1rem;
    margin: 0;
}

.ratings-button{
    display: none;
}

.ratings-button{
    border-radius: 20px;
    padding: 0.25rem;
    color: white;
    background-color: #FF435B;
    margin-right: 1rem;
    font-size: 21px;
}


.job-details-buttons button{
    border-radius: 40px;
    padding: 1rem 2rem;
    color: white;
    background-color: #FF435B;
    margin-right: 2rem;
    font-size: 21px;
}
.navigation-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
}

.navigation-button button{
    border: none;
    background-color: white;
}

ul.schedule-display-list {
    display: block;
    list-style-type: none;
    padding: 0;
}

.schedule-display-list li{
    display: inline-block;
    margin: 0.25rem;
    padding:0.5rem;
    width: 30px;
    height: 30px;
    background-color: rgba(224, 224, 224, 1);
    border-radius: 50%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.25rem;
}



.calculation{
    flex: 1 0 100%;
}

/* ______________END MAIN______________ */

@media screen and (min-width: 700px ) {


    /* ..........MAIN........ */
    .job-details-main{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 2rem;
    }

    .job-details-container{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .job-details-main h2{
        flex: 1 0 100%;
        /* justify-self: start; */
    }

    .job-details-main img{
        flex: 0 0 30%;
        width: 20%;
        height: auto;
    }

    .job-post-details{
        flex: 0 0 60%;
    }
    .description-display{
        flex: 1 0 100%;
    }

    ul.contact-info-details{
        list-style-type: none;
        padding: 2rem 0 0 0;margin: 0;
        font-size: 1.25rem;
    }
}
